[submodule "roles/m2vmw.k8s-ca"]
	path = roles/m2vmw.k8s-ca
	url = https://github.com/m2vmw/ansible-role-kubernetes-ca
[submodule "roles/githubixx.etcd"]
	path = roles/githubixx.etcd
	url = https://github.com/githubixx/ansible-role-etcd
[submodule "roles/githubixx.cfssl"]
	path = roles/githubixx.cfssl
	url = https://github.com/githubixx/ansible-role-cfssl
