[submodule "roles/githubixx.etcd"]
	path = roles/githubixx.etcd
	url = https://github.com/githubixx/ansible-role-etcd
[submodule "roles/githubixx.cfssl"]
	path = roles/githubixx.cfssl
	url = https://github.com/githubixx/ansible-role-cfssl
[submodule "roles/githubixx.kubernetes-ca"]
	path = roles/githubixx.kubernetes-ca
	url = https://github.com/githubixx/ansible-role-kubernetes-ca
